<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SettingConfig</key>
	<array>
		<array>
			<string>清楚缓存</string>
		</array>
		<array>
			<string>退出登录</string>
		</array>
	</array>
	<key>UserConfig</key>
	<array>
		<array>
			<dict>
				<key>title</key>
				<string>门店选择</string>
				<key>mSkClassName</key>
				<string>SCStoreChooseController</string>
				<key>placeholderImageName</key>
				<string>icon_wode_mendian</string>
			</dict>
			<dict>
				<key>title</key>
				<string>员工信息</string>
				<key>mSkClassName</key>
				<string>LearnViewController</string>
				<key>placeholderImageName</key>
				<string>icon_wode_yuangong</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>安全管理</string>
				<key>mSkClassName</key>
				<string>LearnViewController</string>
				<key>placeholderImageName</key>
				<string>icon_wode_anquan</string>
			</dict>
			<dict>
				<key>title</key>
				<string>设置</string>
				<key>mSkClassName</key>
				<string>SCSettingController</string>
				<key>placeholderImageName</key>
				<string>icon_wode_shezhi</string>
			</dict>
			<dict>
				<key>title</key>
				<string>关于</string>
				<key>mSkClassName</key>
				<string>SCAboutController</string>
				<key>placeholderImageName</key>
				<string>icon_wode_guanyu</string>
			</dict>
		</array>
	</array>
	<key>OrderDiscountConfig</key>
	<array>
		<array>
			<string>应收金额</string>
		</array>
		<array>
			<string>整单折扣</string>
			<string>折后价</string>
		</array>
		<array>
			<string>优惠金额</string>
		</array>
	</array>
	<key>EndOfDayConfig</key>
	<array>
		<array>
			<string>门店日结</string>
			<string>门店月结</string>
		</array>
		<array>
			<string>收银员日结</string>
			<string>收银员月结</string>
		</array>
	</array>
	<key>CommodityDetailConfig</key>
	<array>
		<array>
			<string></string>
		</array>
		<array>
			<string></string>
		</array>
		<array>
			<string>主条码:</string>
			<string>商品全称:</string>
			<string>品类:</string>
			<string>品牌:</string>
			<string>计量小单位:</string>
			<string>计价方式:</string>
			<string>系统编码:</string>
			<string>主供应商:</string>
			<string>库存:</string>
			<string>库存预警:</string>
			<string>规格:</string>
			<string>箱规:</string>
			<string>生产厂家:</string>
			<string>保质期:</string>
			<string>保质期单位:</string>
			<string>保质期预警:</string>
			<string>存货编码</string>
		</array>
		<array>
			<string>系统售价:</string>
			<string>批发价:</string>
			<string>加盟价:</string>
			<string>进价:</string>
			<string>进价税率:</string>
			<string>销售税率:</string>
			<string>会员价：</string>
			<string>会员价1:</string>
			<string>会员价2:</string>
			<string>会员价3:</string>
			<string>会员价4:</string>
			<string>会员价5：</string>
		</array>
		<array>
			<string>订货标志:</string>
			<string>前台调价:</string>
			<string>退换标志:</string>
		</array>
	</array>
	<key>CommodityAddConfig</key>
	<array>
		<array>
			<string></string>
		</array>
		<array>
			<string>主条码:</string>
			<string>商品全称:</string>
			<string>品类:</string>
			<string>品牌:</string>
			<string>计量小单位:</string>
			<string>计价方式:</string>
			<string>主供应商:</string>
			<string>库存预警:</string>
			<string>规格:</string>
			<string>箱规:</string>
			<string>生产厂家:</string>
			<string>保质期:</string>
			<string>保质期单位:</string>
			<string>保质期预警:</string>
			<string>存货编码</string>
		</array>
		<array>
			<string>系统售价:</string>
			<string>批发价:</string>
			<string>加盟价:</string>
			<string>进价:</string>
			<string>进价税率:</string>
			<string>销售税率:</string>
			<string>会员价：</string>
			<string>会员价1:</string>
			<string>会员价2:</string>
			<string>会员价3:</string>
			<string>会员价4:</string>
			<string>会员价5：</string>
		</array>
		<array>
			<string>订货标志:</string>
			<string>前台调价:</string>
			<string>退换标志:</string>
		</array>
	</array>
</dict>
</plist>
