<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>rid</key>
		<string>1000</string>
		<key>rtitle</key>
		<string>会员</string>
		<key>rimage</key>
		<string>icon_shouye_huiyuan</string>
		<key>rurl</key>
		<string></string>
		<key>rtype</key>
		<string>1</string>
		<key>classNmae</key>
		<string></string>
	</dict>
	<dict>
		<key>rid</key>
		<string>1010</string>
		<key>rtitle</key>
		<string>促销</string>
		<key>rimage</key>
		<string>icon_shouye_cuxiao</string>
		<key>rtype</key>
		<string>1</string>
		<key>rurl</key>
		<string></string>
		<key>className</key>
		<string></string>
	</dict>
	<dict>
		<key>rid</key>
		<string>1020</string>
		<key>rtitle</key>
		<string>商品</string>
		<key>rimage</key>
		<string>icon_shouye_shangpin</string>
		<key>rtype</key>
		<string>1</string>
		<key>rurl</key>
		<string></string>
		<key>className</key>
		<string></string>
	</dict>
	<dict>
		<key>rid</key>
		<string>1030</string>
		<key>rtitle</key>
		<string>订单</string>
		<key>rimage</key>
		<string>icon_shouye_dingdan</string>
		<key>rtype</key>
		<string></string>
		<key>rurl</key>
		<string></string>
		<key>className</key>
		<string></string>
	</dict>
	<dict>
		<key>rid</key>
		<string>1040</string>
		<key>rtitle</key>
		<string>收货</string>
		<key>rimage</key>
		<string>icon_shouye_shouhuo</string>
		<key>rtype</key>
		<string></string>
		<key>rurl</key>
		<string></string>
		<key>className</key>
		<string></string>
	</dict>
	<dict>
		<key>rid</key>
		<string>1050</string>
		<key>rtitle</key>
		<string>调货</string>
		<key>rimage</key>
		<string>icon_shouye_tiaohuo</string>
		<key>rtype</key>
		<string></string>
		<key>rurl</key>
		<string></string>
		<key>className</key>
		<string></string>
	</dict>
	<dict>
		<key>rid</key>
		<string>1060</string>
		<key>rtitle</key>
		<string>退单</string>
		<key>rimage</key>
		<string>icon_shouye_tuidan</string>
		<key>rtype</key>
		<string></string>
		<key>rurl</key>
		<string></string>
		<key>className</key>
		<string></string>
	</dict>
	<dict>
		<key>rid</key>
		<string>1070</string>
		<key>rtitle</key>
		<string>退换货</string>
		<key>rimage</key>
		<string>icon_shouye_tuihuanhuo</string>
		<key>rtype</key>
		<string></string>
		<key>rurl</key>
		<string></string>
		<key>className</key>
		<string></string>
	</dict>
	<dict>
		<key>rid</key>
		<string>1080</string>
		<key>rtitle</key>
		<string>日结</string>
		<key>rimage</key>
		<string>icon_shouye_rijie</string>
		<key>rtype</key>
		<string></string>
		<key>rurl</key>
		<string></string>
		<key>className</key>
		<string></string>
	</dict>
	<dict>
		<key>rid</key>
		<string>1090</string>
		<key>rtitle</key>
		<string>盘点</string>
		<key>rimage</key>
		<string>icon_shouye_pandian</string>
		<key>rtype</key>
		<string></string>
		<key>rurl</key>
		<string></string>
		<key>className</key>
		<string></string>
	</dict>
	<dict>
		<key>rid</key>
		<string>1100</string>
		<key>rtitle</key>
		<string>周边库存</string>
		<key>rimage</key>
		<string>icon_shouye_kucun</string>
		<key>rtype</key>
		<string></string>
		<key>rurl</key>
		<string></string>
		<key>className</key>
		<string></string>
	</dict>
	<dict>
		<key>rid</key>
		<string>1110</string>
		<key>rtitle</key>
		<string>报表</string>
		<key>rimage</key>
		<string>icon_shouye_baobiao</string>
		<key>rtype</key>
		<string></string>
		<key>rurl</key>
		<string></string>
		<key>className</key>
		<string></string>
	</dict>
</array>
</plist>
